
.display-2 {
    font-family: 'Roboto Mono', monospace;
    color: #B5F5FD;
    font-weight: bold;
    padding-bottom: 2vh;
}

.subtitle {
    font-family: 'Roboto Mono', monospace;
    color: #D8B0FA;
    font-weight: bold;
    text-align: left; /* Ensures the text starts at the left of its container */
}

.home-container {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}




