@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');



.navbar-custom {
    width: 75%;
    border-radius: 50px;  
    background-color: rgba(201, 205, 218, 0.2); /* this doesn't affect child */
    backdrop-filter: blur(20px);  
    margin: 0 auto;  
    position: relative;
    z-index: 0;
    padding: 1% 5% !important;
    margin-top: 4vh;
}


.nav-link {  
    color: #BBD48E !important;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold !important;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

