/* title formatting */
.display-4.text-center.mb-4 {
    font-family: 'Roboto Mono', monospace;
    color: #B5F5FD;
    font-weight: bold;
    padding-bottom: 2vh;
}

.projects-container {
    min-height: 100vh;
}

/* individual cards */
.card {
    max-width: 90%; 
    height: 100%;
    margin: auto; 
    border-radius: 0.75rem;
    border: none;
    background-color: rgba(11, 11, 14, 0.2);
    backdrop-filter: blur(50px);  
    font-family: 'Roboto Mono', monospace;
    color:white;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card-title {
    color: #B5F5FD;
}


.card-img-top {
    object-fit: cover;
    width: 100%;
    height: 25vh;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    transition: transform 0.3s ease;
    display: block;
}

.card:hover .card-img-top {
    transform: scale(1.1); /* Enlarges the image to 110% of its size */
}

.card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.view-more {
    margin-top: auto;
    align-self: center;
}

/* more coming soon text */
.h5.text-center {
    font-family: 'Roboto Mono', monospace;
    color: #D8B0FA;
    font-weight: bold;
}

